*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
}

html{
    scroll-behavior: smooth;
    width: 100%;
}
body{
    height: 100vh;

}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

a:hover{
    color: orange;
}



/* mynavbar */

header {
    position: relative;
    /* background: linear-gradient(to right, #6149c2,rgb(221, 188, 54), #59a950); */
    background-color: #dbd1e3;
    padding: 1rem 2rem;
}

.mynavbar{
    width: 100%;
    height: 30px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    /* justify-content: space-between; */
}

.mynavbar .linkbar{
    position: absolute;
    right: 2rem;
}

.mynavbar .logo{
    position: absolute;
    left: 2rem;
}

.mynavbar .logo img{
    height: 45px;
}

.mynavbar .links{
    display: flex;
    gap: 2rem;
}

.mynavbar .links li{
    padding-top: 7px;
}

.mynavbar .toggle_btn{
    color:rgb(64, 73, 73);
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn{
    background-color: orange;
    background-color: orange;
    color: black;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover{
    scale: 1.05;
    color: black;
}

.action_btn:active{
    scale: 0.95;
}


/* After Responsive */

.dropdown_menu{
    position: absolute;
    right: 2rem;
    display: none;
    top: 69px;
    height: 0;
    width: 300px;
    background: #dbd1e3;
    backdrop-filter: blur(150px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 200px;
    z-index: 34;
    
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}



/* Contribute Section */

.contributeSection{
    position: relative;
    
    display: flex;
    width: auto;
    margin-top: 70px;
    margin-left: 20px;
    flex-direction: row;
    justify-content: space-around;
}

.citizen,.volunteer{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.textPart{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 648px;
    position: relative;
    overflow: hidden;
}

.heading{
    color: var(--onboardingbackgroundgrey, #2d2d2d);
    text-align: left;
    font-family: var(--display-xl-font-family, "Poppins-Bold", sans-serif);
    font-size: var(--display-xl-font-size, 67px);
    line-height: var(--display-xl-line-height, 130%);
    font-weight: var(--display-xl-font-weight, 700);
    position: relative;
    align-self: stretch;
}

.text{
    color: var(--onboardingbackgroundgrey, #2d2d2d);
    text-align: left;
    font-family: var(--body-l-font-family, "Mulish-Regular", sans-serif);
    font-size: var(--body-l-font-size, 21px);
    line-height: var(--body-l-line-height, 150%);
    font-weight: var(--body-l-font-weight, 400);
    position: relative;
    align-self: stretch;
}

.text h5{
    display: none;
}



.button{
    display: flex;
    flex-direction: row;
    gap: 18px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}



/* NGO Bar */

.logo-bar {
    padding: 90px 0 0 0 ;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 100%;
    position: relative;
}

.logo-header{
    color: #000000;
    text-align: center;
    font-family: var(--display-m-font-family, "Poppins-Bold", sans-serif);
    font-size: var(--display-m-font-size, 38px);
    line-height: var(--display-m-line-height, 130%);
    font-weight: var(--display-m-font-weight, 700);
    position: relative;
}


.logos {
    width: 100%;
    border-style: solid;
    border-color: #d8d8d8;
    border-width: 1px 0px 1px 0px;
    padding: 60px 0px 60px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    align-self: stretch;
    align-self: stretch;
    flex-shrink: 0;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
}

.logos div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
}

.img1 img{
    height: 100px;
    width: 100px;
}
.img3 img{
    background-color: grey;
}
.img5 img{
    height: 150px;
    width: 150px;
}



/* Feature Part */

.features {
    background: var(--neutral-zircon, #f8f9ff);
    padding: 120px 55px 120px 55px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 100%;
    position: relative;
  
}


.head-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.features-header {
    color: #000000;
    text-align: center;
    font-family: var(--display-m-font-family, "Poppins-Bold", sans-serif);
    font-size: var(--display-m-font-size, 38px);
    line-height: var(--display-m-line-height, 130%);
    font-weight: var(--display-m-font-weight, 700);
    position: relative;
}

.features-text {
    color: #2d2d2d;
    text-align: center;
    font-family: var(--body-m-font-family, "Mulish-Regular", sans-serif);
    font-size: var(--body-m-font-size, 16px);
    line-height: var(--body-m-line-height, 150%);
    font-weight: var(--body-m-font-weight, 400);
    position: relative;
    align-self: stretch;
}

.cards-row {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-start;
    justify-content: space-evenly;
    align-self: stretch;
    flex-shrink: 0;
    flex-wrap: wrap;
    position: relative;
}

.feature-card {
    background: #ffffff;
    border-radius: 20px;
    border-style: solid;
    border-color: var(--cta-aqua-squeeze, #e5f4f2);
    border-width: 1px;
    padding: 40px 30px 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    width: 370px;
    position: relative;
    box-shadow: 34.85px 29.63px 48.34px 0px rgba(1, 12, 47, 0.05);
}

.feature-card:hover {
    box-shadow: 4.85px 29.63px 50.34px 0px rgba(1, 12, 47, 0.257);
}

.card-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.icon {
    background: rgba(255, 98, 80, 0.2);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.magic-wand {
    flex-shrink: 0;
    width: 42px;
    height: 42px;
    position: relative;
    overflow: visible;
}

.feature-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.feature-title {
    color: #2d2d2d;
    text-align: center;
    font-family: var(--display-s-font-family, "Poppins-SemiBold", sans-serif);
    font-size: var(--display-s-font-size, 28px);
    line-height: var(--display-s-line-height, 130%);
    font-weight: var(--display-s-font-weight, 600);
    position: relative;
    align-self: stretch;
}

.feature-description {
    color: #2d2d2d;
    text-align: center;
    font-family: var(--body-m-font-family, "Mulish-Regular", sans-serif);
    font-size: var(--body-m-font-size, 16px);
    line-height: var(--body-m-line-height, 150%);
    font-weight: var(--body-m-font-weight, 400);
    position: relative;
    align-self: stretch;
}

.button a{
    color: rgb(16, 173, 103);
    font-size: 23px;
}



/* Metric Part */

.metrics {
    background: var(--neutral-zircon, #f8f9ff);
    padding: 120px 55px 120px 55px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    justify-content: space-evenly;
    flex-shrink: 0;
    width: 100%;
    position: relative;
}

.metrics-header {
    color: #000000;
    text-align: center;
    font-family: var(--display-m-font-family, "Poppins-Bold", sans-serif);
    font-size: var(--display-m-font-size, 38px);
    line-height: var(--display-m-line-height, 130%);
    font-weight: var(--display-m-font-weight, 700);
    position: relative;
}

.metrics-text {
    color: #2d2d2d;
    text-align: center;
    font-family: "Mulish-Regular", sans-serif;
    font-size: 16px;
    line-height: 130%;
    font-weight: 400;
    position: relative;
    align-self: stretch;
}

.metrics-content {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
}

.metrics-content div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.metric-item {
    background: var(--white, #ffffff);
    border-radius: 20px 20px 0px 0px;
    border-style: solid;
    border-color: var(--accent-mandys-pink, #f2bfaf);
    border-width: 0px 0px 4px 0px;
    padding: 48px 16px 48px 16px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    position: relative;
    box-shadow: 34.85px 29.63px 48.34px 0px rgba(51, 102, 255, 0.05);
    overflow: hidden;
}



.number {
    color: #2d2d2d;
    text-align: center;
    font-family: var(--display-m-font-family, "Poppins-Bold", sans-serif);
    font-size: var(--display-m-font-size, 38px);
    line-height: var(--display-m-line-height, 130%);
    font-weight: var(--display-m-font-weight, 700);
    position: relative;
    align-self: stretch;
}
.label {
    color: #2d2d2d;
    text-align: center;
    font-family: "Mulish-Regular", sans-serif;
    font-size: 16px;
    line-height: 130%;
    font-weight: 400;
    position: relative;
    align-self: stretch;
}



/* Testinomial Part */

.testimonials {
    background: var(--neutral-zircon, #f8f9ff);
    padding: 120px 55px 120px 55px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    justify-content: space-around;
    flex-shrink: 0;
    width: 100%;
    position: relative;
}

.testimonials-header {
    color: #000000;
    text-align: center;
    font-family: var(--display-m-font-family, "Poppins-Bold", sans-serif);
    font-size: var(--display-m-font-size, 38px);
    line-height: var(--display-m-line-height, 130%);
    font-weight: var(--display-m-font-weight, 700);
    position: relative;
    align-self: stretch;
}

.testinomials-text {
    color: #2d2d2d;
    text-align: center;
    font-family: "Mulish-Regular", sans-serif;
    font-size: 16px;
    line-height: 130%;
    font-weight: 400;
    position: relative;
    align-self: stretch;
}

.testimonial-card {
    background: #ffffff;
    border-radius: 20px;
    border-style: solid;
    border-color: var(--cta-aqua-squeeze, #e5f4f2);
    border-width: 1px;
    padding: 40px 30px 40px 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    position: relative;
    box-shadow: 34.85px 29.63px 48.34px 0px rgba(4, 22, 79, 0.05);
}

.testimonial-card:hover{
    box-shadow:10.85px 10.63px 10.34px 0px rgba(63, 4, 79, 0.213);
}

.testimonial-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.client-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.photo {
    border-radius: 50%;
    flex-shrink: 0;
    width: 56px;
    height: 56px;
    position: relative;
    object-fit: cover;
}

.person-details {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.client-name {
    color: var(--neutral-900, #111827);
    text-align: center;
    font-family: var(--display-xs-font-family, "Poppins-SemiBold", sans-serif);
    font-size: var(--display-xs-font-size, 21px);
    line-height: var(--display-xs-line-height, 130%);
    font-weight: var(--display-xs-font-weight, 600);
    position: relative;
    align-self: stretch;
}

.client-role {
    color: var(--neutral-700, #374151);
    text-align: center;
    font-family: var(--body-s-font-family, "Mulish-Regular", sans-serif);
    font-size: var(--body-s-font-size, 14px);
    line-height: var(--body-s-line-height, 160%);
    font-weight: var(--body-s-font-weight, 400);
    position: relative;
    align-self: stretch;
}

.testimonial-text{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.cards-row2 {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-start;
    justify-content: space-evenly;
    align-self: stretch;
    flex-shrink: 0;
    flex-wrap: wrap;
    position: relative;
}

.testimonials-content {
    color: #2d2d2d;
    text-align: center;
    font-family: var(--body-m-font-family, "Mulish-Regular", sans-serif);
    font-size: var(--body-m-font-size, 16px);
    line-height: var(--body-m-line-height, 150%);
    font-weight: var(--body-m-font-weight, 400);
    position: relative;
    align-self: stretch;
}

.star-icon {
    flex-shrink: 0;
    width: 24px;
    height: 23.08px;
    position: relative;
    overflow: visible;
}


/* Team Part */

.team {
    background: var(--neutral-zircon, #f8f9ff);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-shrink: 0;
    width: 100%;
    position: relative;
}

.team-header {
    color: #000000;
    text-align: center;
    font-family: var(--display-m-font-family, "Poppins-Bold", sans-serif);
    font-size: var(--display-m-font-size, 38px);
    line-height: var(--display-m-line-height, 130%);
    font-weight: var(--display-m-font-weight, 700);
    position: relative;
}

.team-text{
    color: #2d2d2d;
    text-align: center;
    font-family: var(--body-m-font-family, "Mulish-Regular", sans-serif);
    font-size: var(--body-m-font-size, 16px);
    line-height: var(--body-m-line-height, 150%);
    font-weight: var(--body-m-font-weight, 400);
    position: relative;
    align-self: stretch;
}

.cards-row3 {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    gap:21px;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.cards-row3 div{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.member-card1,
.member-card2,
.member-card3,
.member-card4 {
  background: #ffffff;
  border-radius: 20px;
  padding: 0px 0px 30px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 350px;
  position: relative;
  box-shadow: 34.85px 29.63px 48.34px 0px rgba(51, 102, 255, 0.05);
}

.member-card1:hover{
  box-shadow: -34.85px -29.63px 48.34px 0px rgba(79, 9, 46, 0.35);
}

.member-card2:hover{
  box-shadow: -2px -29.63px 48.34px 0px rgba(79, 9, 46, 0.35);
}

.member-card3:hover{
  box-shadow: 2px -29.63px 48.34px 0px rgba(79, 9, 46, 0.35);
}

.member-card4:hover{
  box-shadow: 34.85px -29.63px 48.34px 0px rgba(79, 9, 46, 0.35);
}


.member-img {
    border-radius: 20px 20px 0px 0px;
    align-self: stretch;
    flex-shrink: 0;
    height: 351px;
    position: relative;
    object-fit: cover;
  
}

.member-name {
    color: #2d2d2d;
    text-align: center;
    font-family: var(--display-xs-font-family, "Poppins-SemiBold", sans-serif);
    font-size: var(--display-xs-font-size, 21px);
    line-height: var(--display-xs-line-height, 130%);
    font-weight: var(--display-xs-font-weight, 600);
    position: relative;
    align-self: stretch;
}

.member-text {
    border-style: solid;
    border-color: #d8d8d8;
    border-width: 0px 0px 1px 0px;
    padding: 0px 30px 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.member-role {
    color: #2d2d2d;
    text-align: center;
    font-family: "Mulish-Regular", sans-serif;
    font-size: 16px;
    line-height: 160%;
    font-weight: 400;
    position: relative;
    align-self: stretch;
}

.social-links {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.footer-contact-links a{
    padding-right: 3px;
    padding-left: 3px;
  }






/* Responsiveness */

@media only screen and (max-width: 992px){
    .mynavbar .links,
    .mynavbar .action_btn{
        display: none;
    }
    
    .mynavbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media only screen and (max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        top: 69px;
        width: unset;
    }
}



/* Contribute Section Resposiveness  */


@media only screen and (max-width:1357px) {
    .contributeSection{
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }
}

 @media only screen and (max-width: 800px){
    .citizen,.volunteer{
        scale: 0.9;
    }
}
@media only screen and (max-width: 648px){
    .citizen,.volunteer{
        scale: 0.8;
    }
    .contributeSection{
        height: 727px;
    }
    .logo-bar{
        padding-top: 45px;
    }
}
@media only screen and (max-width: 563px){
    .citizen,.volunteer{
        scale: 0.7;
    }
}
@media only screen and (max-width: 493px){
    .citizen,.volunteer{
        scale: 0.8;
    }
}
@media only screen and (max-width: 493px){
    .citizen,.volunteer{
        scale: 0.7;
    }
}
@media only screen and (max-width: 450px){
    .citizen{
        scale: 0.6;
        top: 0px;
    }
    .volunteer{
        scale: 0.6;
        top: -62px;
    }
    .contributeSection{
        height: 638px;
    }
}
@media only screen and (max-width: 425px){
    .html {
        width: 1200px;
    }
    .citizen{
        scale: 0.5;
        top: 101px;
    }
    .volunteer{
        scale: 0.5;
        top: -134px;
    }
    .button{
        flex-direction: column;
    }
    .contributeSection{
        margin-left: 6px;
        height: 500px;
    }
    .logo-header{
        font-size: 30px;
    }
} 
@media only screen and (max-width: 345px){
    .html {
        width: 100%;
    }
    .contributeSection{
        height: 404px;
        gap: 0px;
    }
    .citizen{
        scale: 0.4;
        top: 77px;
    }
    .volunteer{
        scale: 0.4;
        top: -160px;
    }

    .button{
        flex-direction: column;
    }

} 



/* Logo Bar Responsiveness */

@media only screen and (max-width: 1151px){
    .logos{
        flex-direction: column;
        gap: 50px;
    }
}

@media only screen and (max-width: 458px){
    .logos{
        flex-direction: column;
        gap: 77px;
    }
}



/* Feature Section Responsiveness */

@media only screen and (max-width: 470px){
    .feature-card{
        scale: 0.85;
    }
}

@media only screen and (max-width: 369px){
    .feature-card{
        scale: 0.7;
    }
}


/* Metric Section Responsivness */

@media only screen and (max-width: 490px){
    .metrics-content div{
        flex-direction: column;
    }
    .metric-item{
        scale: 0.8;
    }
}



/* Team Section Responsivenexxx */

@media only screen and (max-width: 1085px){
    .cards-row2{
        flex-direction: column;
    }
}

@media only screen and (max-width: 1500px){
    .cards-row3 div{
        flex-wrap: wrap;
    }
    .cards-row3{
        flex-direction: column;
    }
    .member-card1:hover{
        box-shadow: -2px 29.63px 48.34px 0px rgba(79, 9, 46, 0.35);
    }
      
      .member-card2:hover{
        box-shadow: -2px 10px 48.34px 0px rgba(79, 9, 46, 0.35);
    }
      
      .member-card3:hover{
        box-shadow: -10px 29.63px 100px 0px rgba(79, 9, 46, 0.35);
    }
      
      .member-card4:hover{
        box-shadow: -10px 29.63px 100px 0px rgba(79, 9, 46, 0.35);
    }
}

@media only screen and (max-width: 424px){
    .cards-row3 div{
        flex-wrap: wrap;
    }
    .cards-row3{
        flex-direction: column;
    }
    .member-card1,
    .member-card2,
    .member-card3,
    .member-card4{
        scale: 0.85;
    }
}

@media only screen and (max-width: 392px){
    .cards-row3 div{
        flex-wrap: wrap;
    }
    .cards-row3{
        flex-direction: column;
    }
    .member-card1,
    .member-card2,
    .member-card3,
    .member-card4{
        scale: 0.7;
    }
    .button{
        flex-direction: column;
        
    }
    .button btn1,btn2{
        width: 100%;
    }
}



