@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

.main-container {
  position: relative;
  width: 100%;
  background-color: #f0eeee;
  min-height: 100vh;
  overflow: hidden;
}
.logo{
  position: fixed;
  height: 40px;
  top: 20px;
  left: 20px;
  z-index: 7;
  filter: contrast(0) brightness(0);
}
.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form.sign-up-form {
  opacity: 0;
  z-index: 1;
}

form.sign-in-form {
  z-index: 2;
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #e7e7e7;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
  border: rgba(00, 00, 00, 0.09) 1px solid;
  filter: drop-shadow(0.1px 0.1px 1px black);
  transition: 0.3s;
}
.input-field:hover{
  transform: scale(1.02);
}
.input-field i {
  text-align: center;
  line-height: 55px;
  color: #5f5f5f;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field input::placeholder {
  color: #7b7b7b;
  font-weight: 500;
}

.social-text {
  padding: 0.7rem 0;
  font-size: 1rem;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-icon {
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #333;
  border-radius: 50%;
  border: 1px solid #333;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.4s;
}

.social-icon:hover {
  transform: scale(1.1);
  color: #4481eb;
  border-color: #4481eb;
}

.btn {
  box-shadow: inset 0px 12px 25px 5px rgba(0, 0, 0, 0.15);
  width: 150px;
  background-color: #5995fd;
  border: none;width: wwa;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #4d84e2;
  transform: scale(1.05);
  filter: drop-shadow( 0px 0px 2px #2b2b2b);
}
.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.main-container:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #204c99 0%, #1682a6 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
  filter: drop-shadow( 0 0 20px #000000);
}

.image {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
  filter: brightness(80%);
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.panel .content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 2rem;
}

.panel p {
  font-size: 1.2rem;
  padding: 0.7rem 0;
}

.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  font-weight: 600;

}

.right-panel .image,
.right-panel .content {
  transform: translateX(800px);
}

/* ANIMATION */

.main-container.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.main-container.sign-up-mode .left-panel .image,
.main-container.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

.main-container.sign-up-mode .signin-signup {
  left: 25%;
}

.main-container.sign-up-mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
}

.main-container.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}

.main-container.sign-up-mode .right-panel .image,
.main-container.sign-up-mode .right-panel .content {
  transform: translateX(0%);
}

.main-container.sign-up-mode .left-panel {
  pointer-events: none;
}

.main-container.sign-up-mode .right-panel {
  pointer-events: all;
}
.btn.transparent:hover{
  background-color: #4d84e2;
  

}
@media (max-width: 870px) {
  .main-container {
    min-height: 800px;
    height: 100vh;
  }
  .signin-signup {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .signin-signup,
  .main-container.sign-up-mode .signin-signup {
    left: 50%;
  }

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .right-panel {
    grid-row: 3 / 4;
  }

  .left-panel {
    grid-row: 1 / 2;
  }

  .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
    
  }
  
  .main-container:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .main-container.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .main-container.sign-up-mode .left-panel .image,
  .main-container.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .main-container.sign-up-mode .right-panel .image,
  .main-container.sign-up-mode .right-panel .content {
    transform: translateY(0px);
  }

  .right-panel .image,
  .right-panel .content {
    transform: translateY(300px);
  }

  .main-container.sign-up-mode .signin-signup {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }

  .image {
    display: none;
  }
  .panel .content {
    padding: 0.5rem 1rem;
  }
  .main-container {
    padding: 1.5rem;
    height: 100vh;
    width: 100vw;
  }

  .main-container:before {
    bottom: 72%;
    left: 50%;
  }

  .main-container.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
}
:root{
  --dark: #111111;
  --sun: #ffd700;
  --sun-shadow: #987416;
  --moon: #dddddd;
  --moon-shadow: #808080;
  --star: #ffffff;
  --cloud: #ffffff;
  --crater: #535370;
  --shadow-01: #80808077;
  --shadow-02: #ffffff22;
  --shadow-03: #555555;
  --white: #ffffff;
  --background-day: linear-gradient(skyblue, cadetblue);
  --background-night: linear-gradient(-45deg, #222, #000030);
}
.container{
  position: fixed;
  top: 15px;
  right: 10px;
  display: inline-block;
  width: 80px;
  height: 34px;
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  z-index: 10;
}
.container input{
  opacity: 0;
  width: 0;
  height: 0;
}
.slider{
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: var(--background-day);
  box-shadow: inset 0 0 1px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  filter: drop-shadow(0 0 1px var(--dark));
  overflow: hidden;
  z-index: 1;
}
.slider::before{
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--sun);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  box-shadow:
    inset 0 -1px 8px var(--sun-shadow),
    0 1px 2px var(--shadow-01),
    0 0 0 10px var(--shadow-02),
    0 0 0 20px var(--shadow-02),
    10px 0 0 20px var(--shadow-02);
}
input:checked + .slider{
  background: var(--background-night);
  filter: drop-shadow(0 0 1px var(--white));
}

input:checked + .slider:before{
  background: var(--moon);
  -webkit-transform: translateX(180%);
  -ms-transform: translateX(180%);
  transform: translateX(180%);
  box-shadow:
    inset 0 -1px 2px var(--moon-shadow),
    0 1px 2px var(--shadow-03),
    0 0 0 10px var(--shadow-02),
    0 0 0 20px var(--shadow-02),
    -10px 0 0 20px var(--shadow-02);
}
.slider::after{
  content: "";
  position: absolute;
  background: var(--crater);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  bottom: 65%;
  right: 16%;
  box-shadow:
    -8px 7px 0 3px var(--crater),
    2px 10px 0 var(--crater)
  ;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: scale(0) rotate(360deg);
  transform: scale(0) rotate(360deg);
  filter: saturate(.75);
}
input:checked + .slider::after{
  -webkit-transform: scale(1) rotate(-24deg);
  transform: scale(1) rotate(-24deg);
}
input:checked + .slider .background{
  -webkit-transform: translateY(260%);
  transform: translateY(260%);
  opacity: 0;
}
.star{
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .5s;
  transition: .5s;
}
input:checked + .slider .star{
  position: absolute;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-bottom: 7px solid var(--star);
  transform: rotate(35deg);
  border-top: none;
  margin: 5px 0;
  -webkit-transform: scale(.3) translate(50%);
  transform: scale(.3) translate(50%);
}
input:checked + .slider .star:last-child{
  -webkit-transform: scale(.4) translate(225%, 300%);
  transform: scale(.4) translate(225%, 300%);
}
input:checked + .slider .star::before,
input:checked + .slider .star::after{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: none;
}
input:checked + .slider .star::before{
  border: 3px solid transparent;
  border-bottom: 8px solid var(--star);
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  top: -7.5px;
  left: 1.5px;
}
input:checked + .slider .star::after{
  border: 10px solid transparent;
  border-bottom: 7px solid var(--star);
  -webkit-transform: rotate(70deg);
  transform: rotate(70deg);
  top: -7px;
  left: -4.5px;
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.background{
  position: absolute;
  width: 10px;
  height: 10px;
  background: var(--cloud);
  border-radius: 50%;
  bottom: 0;
  right: 0;
  box-shadow:
    0 -10px 0 8px var(--cloud),
    -10px 0px 0 8px var(--cloud),
    -45px 4px 0 5px var(--cloud),
    -60px 0px 0 3px var(--cloud),
    -29px 2px 0 8px var(--cloud)
  ;
  -webkit-transition: .5s;
  transition: .5s;
}
.dark-mode {
  .body{
    transition: all 2s;
  }
  .main-container{
    background-color: black;
  } 
  .title{
    color: antiquewhite;
  }
  .btn{
    background-color: white;
    color: black;
  }
  .btn:hover{
    background-color: rgb(198, 198, 198);
  }
  .social-icon{
    color: white;
    transition: 0.3s;
  }
  .social-icon:hover{
    transform: scale(1.1);
    border-color: grey;
  }
  .main-container:before{
    background-image: linear-gradient(-45deg, #000000 0%, #257b98 100%);
    filter: drop-shadow( 0 0 10px #afe0f5);
  }
  .logo{
    filter: brightness(100) grayscale(100);
  }
  .btn:hover{
    filter: drop-shadow( 0px 0px 2px #afe0f5);
  }
}